<form class="profile-form__wrapper" [formGroup]="">
  <div class="profile-form">
    <div class="two-columns">
      <label class="tt-form-label">
        <span class="tt-form-label__text">Имя пользователя</span>
        <input type="text" class="tt-form-input" formControlName="firstName">
      </label>

      <label class="tt-form-label">
        <span class="tt-form-label__text">Навыки</span>
        <input type="text" class="tt-form-input" formControlName="lastName">
      </label>
    </div>

  </div>
</form>
