<img
  src="/assets/svg/logo-small.svg"
  alt="logo"
  class="mb20 ml16">

<nav>
  <ul class="main-menu">
    @for (menuItem of menuItems; track menuItem) {
      <li>
        <a class="main-menu__item"
           [routerLink]="[menuItem.link]"
            routerLinkActive="active"
        >
          <svg [icon]="menuItem.icon" class="main-menu__svg"></svg>
          <span>{{ menuItem.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav>

<p class="medium-text mb20 mt20">Подписчики</p>

@for (subscriber of subscribers$ | async; track subscriber.id) {
  <app-subscriber-card
    [profile]="subscriber"
  ></app-subscriber-card>

}

<div class="mt20 to-subscribers">
  <a
    [routerLink]="['/subscribers']"
    class="to-subscribers-link medium-text"
  >Все подписчики
  </a>
  <svg
    icon="arrow"
    class="to-subscribers-icon"
  ></svg>
</div>

<footer class="sidebar__footer">
  @if(me(); as me){
    @if(me.avatarUrl){
      <img [src]="me.avatarUrl" alt="avatar">
    } @else {
      <img class="sidebar__footer-img" src="/assets/imgs/avatar-placeholder.png" alt="avatar">
    }

    <div class="medium-text sidebar__footer-username-text">{{me.username}}</div>

    <a [routerLink]="['settings']"  class="settings-btn">
      <svg icon="settings"></svg>
    </a>
  }

</footer>



