<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/imgs/ramzes.png" alt="avatar" class="profile-card__avatar">

    <div class="profile-card__name">
      <strong>Ramzes666</strong>
      <span>Роман Кушнарев</span>
    </div>
  </div>

  <div class="profile-card__description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloremque eligendi fuga ipsam, libero maxime minima
    rerum totam unde voluptate. A accusamus aut culpa necessitatibus nulla quisquam sed soluta. Et.
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">VirtusPro</div>
    <div class="skill-tag">9pandas</div>
    <div class="skill-tag">Tundra</div>
    <div class="skill-tag">Liga</div>
  </div>

  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
