@if (profile) {
  <div class="profile-card">
    <div class="avatar-name">
      <img [src]="profile.avatarUrl"
           [alt]="profile.username"
           class="profile-card__avatar">

      <div class="profile-card__name">
        <strong class="h6">{{ profile.username }}</strong>
        <span>{{ profile.firstName }} {{ profile.lastName }}</span>
      </div>
    </div>

    <div class="profile-card__description">
      {{ profile.description }}
    </div>

    <div class="profile-card__tags">
      @for (teams of profile.teams; track teams) {
        <div class="skill-tag">{{ teams }}</div>
      }
    </div>


    <div class="profile-card__action-btns">
      <button class="btn">Подписаться</button>
    </div>
  </div>
}
