<form class="login-form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
>
  <h1 class="h1 mb60">Вход</h1>

  <label class="dota-control-label mb16">
    Dota2 username
    <input
      formControlName="username"
      class="dota-input" type="text" placeholder="Введите логин">
  </label>

  <label class="dota-control-label mb32">
    Пароль
    <input
      formControlName="password"
      class="dota-input" type="password" placeholder="Введите пароль">
  </label>
  <button class="btn btn-shadow" type="submit">Войти</button>
</form>

<img src="/assets/imgs/logo-big.png" alt="logo">
